h3{
    text-align: center;
    color: green;
   }
   h3 span{
    color: red;
   }
   .mainContainer{
       width:400px;
       margin-inline: auto;
   }
   #container{
       min-height: 200px;
       border-radius: 8px;
       width: 100%;
       background-color:darkcyan;
       /* padding-top: 50px;
       padding-left: 50px; */
       padding: 50px;
       /* padding: 15px; */
       display: flex;
       flex-direction: column;
       gap: 30px;
       /* grid-template-rows: 1fr 1fr 1fr; */
       box-sizing: border-box;
   }
   .task_item{
       background-color: lightblue;
       padding:20px;
       display:flex;
       justify-content: space-between;
   }
   .task_item img, .addTaskBtn img{
       width:20px;
   }
   .addTaskBtn{
        position: absolute;
        margin-left: 10px;
        margin-top: 10px;
        background-color: white;
        padding: 1px 4px;
        border-radius: 3px;
   }
   
   #position_buttons{
       /* position:static; */
       display: grid;
       grid-template-columns: 4fr 1fr;
       margin-bottom: 10px;
       width:100%;
       height:30px;
       /* margin-left:25%; */
       gap:10px;
       
   }
   #position_buttons button{
       background-color: blue;
       color: aliceblue;
       border-radius: 8px;
       /* width:30% ; */
       
   }
   #BlackCover{
       display:none;
       position: fixed;
       top:0%;
       left:0%;
       width:100vw;
       height:100vh;
       background-color: rgba(0, 0, 0, 0.315);
   }
   #BlackCover_ADD{
       display:none;
       position: fixed;
       top:0%;
       left:0%;
       width:100vw;
       height:100vh;
       background-color: rgba(0, 0, 0, 0.315);
   }
   #AddTask{
       position: absolute;
       top:50%;
       left:50%;
       transform:translate(-50% , -50%) ;
       background-color: rgb(0, 196, 196);
       padding:30px;
   
   }
   #AddTask h4{
       color: white;
       margin-top: 0px;
       text-align: center;
   }
   #AddTask button{
       display: block;
       margin-left: 59px;
       margin-top: 15px;
       background-color: blue;
       color: aliceblue;
       padding: 5px 15px;
       border: none;
       border-radius: 5px;
   }
   #editTask{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50% , -50%) ;
    background-color: rgb(0, 196, 196);
    padding:30px;

}
#editTask h4{
    color: white;
    margin-top: 0px;
    text-align: center;
}
#editTask button{
    display: block;
    margin-left: 59px;
    margin-top: 15px;
    background-color: blue;
    color: aliceblue;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
}
   #closeBorder{
       position:absolute;
       right:19px;
       font-size: 30px;
       cursor: pointer;
   }
   
   .maryam{
       display:flex;
       gap:10px;
   }
   .Status_Switch{
        position:relative;
        cursor: pointer;
   }
   .Status_Switch .ToolTip{
        display:none;
        position: absolute;
        top:30px;
        background-color: azure;
        width: 200px;
        padding: 3px;
        border-radius: 4px;
        box-shadow: 3px 3px 30px rgba(78, 78, 78, 0.517);
        /* height: fit-content; */
   }
   .Status_Switch:hover .ToolTip{
        display:block;
   } 